<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/session</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">uchqun</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <mapping class="com.example.jpa.Book"/>
    </session-factory>
</hibernate-configuration>